<?xml version="1.0"?>
<SFUConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <operatorInfo>
    <bucketName>worldcom</bucketName>
    <operatorName>97world</operatorName>
    <operatorPwd>nullnull</operatorPwd>
    <bindDomain>http://www.97world.com</bindDomain>
    <netSelection>自动选择网络</netSelection>
  </operatorInfo>
  <loginInfo>
    <rememberPwd>true</rememberPwd>
    <autoLogin>false</autoLogin>
  </loginInfo>
</SFUConfigInfo>
