<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0" />
  </configSections>

  <log4net>
    <root>
      <level value="DEBUG" />
    </root>

    <logger name="DEFAULT_LOG">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender_default"/>
    </logger>

    <appender name="LogFileAppender_default" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log\StaticFileUpload.log" />
      <param name="AppendToFile" value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %L %-5p %m%n" />
      </layout>
    </appender>

  </log4net>

</configuration>